<div class="wrap">
    <div class="dev-top">

        Google Map Geolocation ( Note: Once Track me is enabled, refresh page to enable Find me feature! ) <br>
        <span> Pic up Address &nbsp; : Latitude {{picUpLocation?.lat}} and Longitude: {{picUpLocation?.lng}}
        </span><br>
        <input type="number" [(ngModel)]="picUpLocation.lat" placeholder="Enter latitude" />
        <input type="number" [(ngModel)]="picUpLocation.lng" placeholder="Enter longitude" />
        <button (click)="sendPicUpLocation()"> Submit</button> <br>


        Enter latitude and longitude for drop off address <br>
        <span> Drop off Address : Latitude {{dropOffLocation.lat}} and Longitude:
            {{dropOffLocation.lng}} </span><br>
        <input type="number" [(ngModel)]="dropOffLocation.lat" placeholder="Enter latitude" />
        <input type="number" [(ngModel)]="dropOffLocation.lng" placeholder="Enter longitude" />
        <button (click)="getdropOffLocationLocation()"> Submit</button> <br>

        <span>Custom Tracking Location: Latitude {{trackingLocation.lat}} and Longitude:
            {{trackingLocation.lng}} </span><br>
        <input type="number" [(ngModel)]="trackingLocation.lat" placeholder="Enter latitude" />
        <input type="number" [(ngModel)]="trackingLocation.lng" placeholder="Enter longitude" />
        <button (click)="customeTrackingLocation()"> Apply</button> <br>

    </div>

    <google-map *ngIf="picUpLocation['lat']!=0" class="map-area" [zoom]="zoom" [center]="picUpLocation"
        [options]="options">

        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options">
        </map-marker>

    </google-map>

</div>