/* You can add global styles to this file, and also import other style files */
// ::Loader - start::
@import url("./assets/loader.scss");
body,
html {
    height: 100%;
}

.dev-top {
    margin: 8px;
    padding: 3px;
    overflow: hidden;
    font-family: monospace;
    background-color: #ffffff;
    font-size: 18px;
    color: currentcolor;
    text-align: center;
}

.easein-component {
    animation: slideIn 1s;
    -moz-animation: slideIn 1s;
    -webkit-animation: slideIn 1s;
    transition: opacity 1s ease-in, margin 1s ease-in;
}

@keyframes slideIn {
    from {
        opacity: 0;
        margin-top: 5rem;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        margin-top: 5rem;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@-moz-keyframes slideIn {
    from {
        opacity: 0;
        margin-top: 5rem;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.error-notice {
    color: red;
}

.alert-error {
    border: 2px solid red;
}

.spinner-div {
    background-color: rgba(255, 255, 255, 0.36);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
